:root {
	--primary1: #303e46;
	--primary2: #455a64;
	--primary3: #6a7b83;
	--secondary1: #a13311;
	--secondary2: #e64a19;
	--secondary3: #eb6e47;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** End of Reset **/

body {
	height: 100%;
	margin: 0;
	background: #f2f2f2;
	color: #222222;
	font: 400 16px/24px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

/** Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Noto Sans', sans-serif;
}

h1 {
	font-size: 3rem;
	margin: 2rem 0;
}

h2 {
	font-size: 2.5rem;
	margin: 1.5em 0;
}

h3 {
	font-size: 2rem;
	margin: 1rem 0;
}

h4 {
	font-size: 1.5rem;
	margin: 0.75rem 0;
}

h5 {
	font-size: 1rem;
	margin: 0.5rem 0;
}

h6 {
	font-size: 1rem;
	margin: 0.25rem 0;
}

p {
	margin: 0.75rem 0;
}

/** Layout **/
.layout-master-header {
	height: 125px;
}
header.fixed {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.layout-top-header {
	align-items: center;
	background: var(--primary1);
	color: #fff;
	display: flex;
	height: 70px;
	overflow: hidden;
}

.layout-top-header > .header-title {
	font-size: 1.75rem;
	margin-left: 6rem;
}

.layout-top-nav {
	align-items: center;
	border-top: 5px solid var(--secondary1);
	background: var(--secondary2);
	color: #fff;
	display: flex;
	height: 50px;
	justify-content: center;
}

.nav-menu {
	list-style: none;
	text-align: center;
}

.nav-menu li {
	display: inline-block;
	margin-left: 1rem;
}

.nav-menu li a {
	color: #ffffff;
	display: block;
	padding: 0.8rem 1rem;
	text-decoration: none;
}

.nav-menu li a:hover {
	background: var(--secondary3);
}

.nav-menu .active {
	background: var(--secondary3);
}
.nav-menu .active:hover a {
	cursor: default;
}

.layout-main-body {
	margin-top: 175px;
	background: #ffffff;
	margin: 0.3rem 0;
	padding: 1rem 1.5rem;
	min-height: 65vh;
}

.layout-footer {
	text-align: center;
	padding: 1rem 0.75rem;
	background: var(--primary2);
	color: #ffffff;
}

.container {
	max-width: 1300px;
}

.container form {
	width: 100%;
}

/** Form **/
.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	text-decoration: none;
	cursor: pointer;
}

.btn-primary {
	background: var(--primary2);
	border: 1px solid var(--primary3);
	color: #ffffff;
}

.btn-secondary {
	background: var(--secondary2);
	border: 1px solid var(--secondary3);
	color: #ffff;
}

.btn-secondary:hover {
	background: var(--secondary1);
	border: 1px solid var(--secondary2);
}

.btn-primary:hover {
	background: var(--primary1);
	border: 1px solid var(--primary2);
}

.btn-block {
	display: block;
	width: 100%;
}

.form-group {
	margin-bottom: 1rem;
}

.form-group label {
	display: block;
	margin-bottom: 0.5rem;
}

.form-control {
	width: 100%;
	padding: 0.5rem 0 0.5rem 0.75rem;
}

.form-control {
    border: 1px solid var(--secondary1);
    outline: none;
}

.form-control:focus {
    border: 1px solid var(--secondary2);
}

/** Columns **/
.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.col-12 {
	width: 100%;
}
.col-11 {
	width: 92%;
}
.col-10 {
	width: 83%;
}
.col-9 {
	width: 75%;
}
.col-8 {
	width: 67%;
}
.col-7 {
	width: 58%;
}
.col-6 {
	width: 50%;
}
.col-5 {
	width: 42%;
}
.col-4 {
	width: 33%;
}
.col-3 {
	width: 25%;
}
.col-2 {
	width: 17%;
}
.col-1 {
	width: 8%;
}

.m-auto {
	margin-left: auto;
	margin-right: auto;
}

blockquote {
	border-bottom: 1px solid #ccc;
	display: table;
	margin-bottom: 1em;
	padding: 0.5em;
}

blockquote p {
	display: table-cell;
	vertical-align: middle;
	width: 90%;
}

blockquote .cell {
	display: table-cell;
	min-width: 5%;
}

blockquote form {
	display: table-cell;
	width: 10%;
}

.text-center {
	text-align: center;
}

.errors {
	padding: 1em;
	border: 1px solid maroon;
	background-color: lightyellow;
	color: maroon;
	margin-bottom: 1em;
	overflow: auto;
}

.errors ul {
	margin-left: 1em;
}
